/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

.site-header{
  width:100%;
  min-height: 300px;
  /*height:100px;*/
  background-color: black;
  position: absolute;
}
.wrap{
  position: absolute;
  left:20%;
  /*background-color: red;*/


}

.site-title a{
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-decoration: none !important;
}
.site-description{
  max-width:
  color:white;
}
