<header class="site-header">

  <div class="wrap">

    <div class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="site-description">
      <p>{{site.description}}</p>
    </div>

  </div>
  <div class="site-topic">
    <p>Home | About | Download Theme</p>
  </div>

  <div class="icons">
    <div class="ico"><a href="https://www.facebook.com/ayush.coder"><i class="fa fa-facebook fa-1x fb"></i></a></div>
    <div class="ico"><a href="https://www.facebook.com/ayush.coder"><i class="fa fa-linkedin fa-1x lin"></i></a></div>
    <div class="ico"><a href="https://www.facebook.com/ayush.coder"><i class="fa fa-github fa-1x git"></i></a></div>
    <div class="ico"><a href="https://www.facebook.com/ayush.coder"><i class="fa fa-twitter fa-1x twit"></i></a></div>

  </div>


</header>
