<header class="site-header">

  <div class="wrap">

    <div class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="site-description">
      <p>{{site.description}}</p>
    </div>

  </div>
  <div class="site-pages">
    {% for i in (0..site.page_len) %}
    <div class="page-head"><a href="{{site.page_url[i]}}"><p>{{site.topic[i]}} <span class="slash">|</span></p></a></div>
      {% endfor%}
  </div>

  <div class="icons">
    {% if site.facebook %}
    <div class="ico"><a href="https://facebook.com/{{site.facebook}}"><i class="fa fa-facebook fa-1x fb"></i></a></div>
    {% endif %}
    {% if site.linkedin %}
    <div class="ico"><a href="https://www.linkedin.com/in/{{site.linkedin}}"><i class="fa fa-linkedin fa-1x lin"></i></a></div>
    {% endif %}
    {% if site.github %}
    <div class="ico"><a href="https://github.com/{{site.github}}"><i class="fa fa-github fa-1x git"></i></a></div>
    {% endif %}
    {% if site.twitter %}
    <div class="ico"><a href="https://twitter.com/{{site.twitter}}"><i class="fa fa-twitter fa-1x twit"></i></a></div>
    {% endif %}

  </div>

  <hr align="center" width="100%">


</header>
